.venv
venv
env

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

celerybeat-schedule
celerybeat.pid

media/
staticfiles/

.idea/
.vscode/
*.swp

.git
.gitignore

docker-compose.override.yml
