{% extends "mailing/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Попытки рассылок</h2>

    {% if attempts %}
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата и время</th>
                    <th>Статус</th>
                    <th>Ответ сервера</th>
                    <th>Рассылка ID</th>
                </tr>
            </thead>
            <tbody>
                {% for attempt in attempts %}
                <tr>
                    <td>{{ attempt.id }}</td>
                    <td>{{ attempt.attempt_time }}</td>
                    <td>{{ attempt.get_status_display }}</td>
                    <td>{{ attempt.server_response }}</td>
                    <td>{{ attempt.mailing.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Нет попыток рассылки.</p>
    {% endif %}
</div>
{% endblock %}
