{% extends 'mailing/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1>Добро пожаловать в сервис рассылок!</h1>

<h2>Общая статистика</h2>

<ul class="list-group mb-4">
    <li class="list-group-item">Всего рассылок: <strong>{{ total_mailings }}</strong></li>
    <li class="list-group-item">Активных рассылок: <strong>{{ active_mailings }}</strong></li>
    <li class="list-group-item">Уникальных получателей: <strong>{{ unique_recipients }}</strong></li>
</ul>

<a href="{% url 'recipient_list' %}" class="btn btn-primary">Список получателей</a>
<a href="{% url 'mailing_list' %}" class="btn btn-success">Список рассылок</a>

{% endblock %}
