{% extends "mailing/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Редактировать профиль</h2>

    <div class="card p-4 shadow-sm">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-success mt-2">Сохранить</button>
            <a href="{% url 'profile' %}" class="btn btn-secondary mt-2 ms-2">Назад к профилю</a>
        </form>
    </div>
</div>
{% endblock %}
